<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <title>2048</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div id="app">
      <h1>2048</h1>
      <p>{{ message }}</p>
      <div>
        <h3>High Score: {{ highScore == undefined ? 0 : highScore }}</h3>
        <h3>Score: {{ score }}</h3>
      </div>
      <div class="grid">
        <div v-for="row_num in 4" class="tile-row">
          <div
            v-for="tile_num in 4"
            :class="getTileClass(row_num - 1, tile_num - 1)"
          >
            {{ tileValues[row_num - 1][tile_num - 1] }}
          </div>
        </div>
      </div>
      <div>
        <input
          ref="name"
          type="text"
          placeholder="Enter name"
          v-model="name"
          @keyup.enter="initGame"
        />
        <button
          ref="startButton"
          :disabled="name.length == 0 || isGameEnabled()"
          @click.event="initGame"
        >
          Start Game
        </button>
        <button
          :disabled="name.length == 0 || gameOver"
          @click.exact="autoPlay"
        >
          Auto Play
        </button>
      </div>
    </div>
  </body>
</html>
